@media (max-width:991px){

    section{
        padding: 30px;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    }

    /*               navbar              */
    .header-scrolled{
        height: auto;
    }
    .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }
    .nav-item .nav-link{
        margin-top: 15px;
    }
    /*               Banner                 */
    .banner_wrapper{
        padding: 200px 0;
    }
    /*                About                   */
    .about_wrapper ul.nav-pills{
        width: 61%;
        margin: auto;
    }
    /*                 Projects              */
    .portfolio_wrapper .card{
        min-height: 400px;
    }
}



@media (max-width:768px){

    h1{
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 13px;
        line-height: 24px;
    }

    /*          Navbar              */

    .navbar-brand img{
        width: 70px;
        height: auto;
    }

     /*          Banner           */
     .banner_wrapper{
        padding-top: 300px;
    }
     .banner_wrapper h1{
        font-size: 30px;
        line-height: 35px;
    }
    .banner_wrapper h6{
        font-size: 16px;
        line-height: 20px;
    }
   
    /*              About               */
    .about_wrapper h6{
        font-size: 13px;
    }
    .about_wrapper ul.nav-pills{
        width: 100%;
        margin: auto;
        border:none;
    }
    .about_wrapper ul li .nav-link{
        font-size: 13px;
    }
    /*              Projects             */
    .portfolio_wrapper .card{
        min-height: 500px;
    }
}
